body {

    margin:0;

    min-height:100vh;

    background:#050816;

    overflow-x:hidden;

}
.blob{

    position:fixed;

    width:600px;
    height:600px;

    border-radius:50%;

    filter:blur(120px);

    z-index:-1;

    opacity:0.8;

}


.blob1{

    background:#6366f1;

    top:-200px;

    left:-200px;

    animation:move1 12s infinite alternate;

}



.blob2{

    background:blue;

    right:-200px;

    bottom:-200px;

    animation:move2 15s infinite alternate;

}



@keyframes move1{

    0%{

        transform:translate(0,0);

    }


    100%{

        transform:translate(400px,300px);

    }

}



@keyframes move2{


    0%{

        transform:translate(0,0);

    }


    100%{

        transform:translate(-300px,-200px);

    }

}
        h1 {
            color: #111827;
            font-size: 40px;
        }
        h2{
            color:#6366f1;
        }
        p ,li{
              color: #374151;
              font-size: 18px;
              line-height: 1.8;
        }
        .container {
           width: 80vw;
           margin: 40px auto;
           border-radius: 20px;
           background-color:white;
           justify-items: center;
           height: 210vh;
        }
        ul{
            color: blue;
        }
      
        header {
           display:flex; 
        }
        .pic1 {

         width: 150px;
         height: 150px;
         border-radius: 50%;
         object-fit: cover;
         position: relative;
         left: 6vw;

       }
       section, footer {
        margin-top: 40px;
        }
      .hero {
    justify-content: center;
    display:flex;
   flex-direction: column;
    padding:60px 0;

}

.hero h1 {

    font-size:45px;
    color:#111827;

}
.hero h2 {
    font-size:32px;
    color:#6366f1;
}

.hero p {
    font-size:18px;
    color:#6b7280;

}
.part1{
    width: 70vw;
    height: 17vw;
    border: 3px solid black;
    border-radius: 40px;
    position: absolute;
    left: 13vw;
    box-shadow: 10px 10px 10px lightgray;
    padding: 30px;
    padding-top: 5px;
    font-weight: 750;
   

}
.pic2{
    width: 17vw;
    height: 18vw;
    border-radius: 20px;
    position: absolute;
    left: 40vw;
    top: 1vh;
}
.part2{
     width: 70vw;
    height: 17vw;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    left: 13vw;
    top: 112vh;
    display: flex;
    flex-direction: column;
     box-shadow: 10px 10px 10px lightgray;
     padding: 30px;
     padding-top: 3px;
     gap: -100px;
     font-weight: 750;


}
.part3{
    width: 70vw;
    height: 10vw;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    left: 13vw;
    top: 152vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px lightgray;
     padding: 30px;
     padding-top: 5px;
     font-weight: 750;


}
.part4{
     width: 70vw;
    height: 10vw;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    left: 13vw;
    top: 180vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px lightgray;
 padding: 30px;
 padding-top: 5px;
 font-weight: 750;
}
.detailgoals{
    position: absolute;
    top: 45px;
    left: 5px;
}
.selfintroduction{
    position: absolute;
    top: 5vh;
    left: 14vw;
}
.skillsetail{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1vw;
    top: 3vw;
}
